In [1]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import os
import time
import requests
import warnings
warnings.filterwarnings('ignore')

In [48]:
executable_path = {"executable_path": "C:\\Users\\mlinc\\Appdata\\Local\\rasjani\\WebDriverManager\\bin\\chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

In [24]:
# Visit Nasa news url through splinter module
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)

In [4]:
news_html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(news_html, 'html.parser')
# Retrieve the latest news title and news paragraph
news_title = soup.find('div', class_='content_title').text
news_pg = soup.find('div', class_='article_teaser_body').text
 # Dictionary entry from MARS NEWS
print(news_title)
print("------")
print(news_pg)

Mars Now
------
The six-wheeled scientist is heading south to explore Jezero Crater’s lakebed in search of signs of ancient microbial life.

In [5]:
space_img_url = "https://d2pn8kiwq2w21t.cloudfront.net/original_images/jpegPIA24701.jpg"
browser.visit(space_img_url)

In [6]:
#html object
img_html = browser.html
img_soup = bs(img_html, "html.parser")

In [7]:
 #url_for_image  = soup.find('article')['style'].replace('background-image: url(','').replace(');', '')[1:-1]
 #main_url = 'https://www.jpl.nasa.gov'
# Display url of the full image
#url_for_image = (f"https://www.jpl.nasa.gov{url_for_image}")
#print("JPL Featured Space Image")
#print("--------------")
#print(featured_image_url)

In [8]:
# Visit Mars Weather twitter through splinter
url_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_weather)

# HTML Object
weather_html = browser.html
weather_bs_soup = bs(weather_html, "html.parser")

In [9]:
# Scrape the latest Mars weather tweet from the page
weather = weather_bs_soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")
weather.a.decompose()

AttributeError: 'NoneType' object has no attribute 'a'

In [10]:
# Display Mars Weather
print("Mars Weather")
print("-----")
print(weather)

Mars Weather
-----
None

In [11]:
# Visit the Mars Facts webpage and use Pandas to scrape the table
space_facts_url = 'http://space-facts.com/mars/'
# Use Pandas - read_html - to scrape tabular data from a page
mars_facts = pd.read_html(space_facts_url)
mars_facts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [12]:
#to give the unamed columns a name, rename them using "0"
mars_facts_df = mars_facts[1]
mars_facts_df.rename( columns={'Unnamed: 0':'new column name'}, inplace=True )
mars_facts_df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [13]:
#drop the earth column from our dataframe
new_mars_facts_df = mars_facts_df.drop(['Earth'], axis = 1)

In [20]:
#rename our columns
mars_facts_df_renamed = new_mars_facts_df.rename(columns = {"Mars - Earth Comparison":"Information"})
mars_facts_df_renamed

          Information             Mars
0           Diameter:         6,779 km
1               Mass:  6.39 × 10^23 kg
2              Moons:                2
3  Distance from Sun:   227,943,824 km
4     Length of Year:   687 Earth days
5        Temperature:     -87 to -5 °C

In [21]:
# Save html code to folder Assets
html_table = mars_facts_df_renamed.to_html()

# Strip unwanted newlines to clean up the table
html_table.replace("\n", '')

# Save html code
mars_facts_df_renamed.to_html("mars_facts_data.html")

In [25]:
#Visit hemispheres website through splinter
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemispheres_url)

#create the html object
html_hemisphere = browser.html
soup = bs(html_hemisphere, "html.parser")

In [40]:
# Scrape all items that contain mars hemispheres information
hemispheres = soup.find_all("div", class_="item")

# Create empty list
hem_url_list = []

# Sign main url for loop
hem_main_url = "https://astrogeology.usgs.gov"

In [45]:
# Loop through the list of all hemispheres information
for i in hemispheres:
    title = i.find("h3").text
    hem_img = i.find("a", class_="itemLink product-item")["href"]
    
    # Visit the link that contains the full image website 
    browser.visit(hemispheres_url + hem_img)

In [49]:
# HTML Object
image_html = browser.html
web_info = bs(image_html, "html.parser")
    
    # Create full image url
img_url = hem_main_url + web_info.find("img", class_="wide-image")["src"]
    
hem_url_list.append({"title" : title, "img_url" : img_url})

TypeError: 'NoneType' object is not subscriptable

In [ ]:
#Display the titles and images ulr
hem_url_list